<form name="{{.type}}" class="w-full max-w-xl" method="POST" onsubmit="return window.submitContact(this, true)">
  <div class="flex items-center py-2">
    <input type="email" value="" name="EMAIL" placeholder="Your e-mail address" class="w-full text-base text-gray-700 mr-3 p-2 leading-tight focus:outline-none">
    <input type="fname" value="" name="FNAME" placeholder="First name (optional)" class="w-full text-base text-gray-700 mr-3 p-2 leading-tight focus:outline-none">
    <div style="position: absolute; left: -5000px;" aria-hidden="true">
      <input type="text" name="b_9173e62d1f4eb95b556208aaa_b79b1293cb" tabindex="-1" value="">
    </div>
    <input type="submit" name="subscribe" class="flex-shrink-0 bg-flutter-blue hover:bg-blue-700 text-sm text-white font-bold px-4 py-2 rounded focus:outline-none" value="{{ .submitText }}">
  </div>
  <div class="form-success hidden">
    <p class="text-left text-green-800 text-lg font-bold">{{ .okText }}</p>
  </div>
  <div class="form-error hidden">
    <p class="text-left text-red-800 text-lg font-bold">An error has occurred. Please e-mail me@frank06.net with your request.</p>
  </div>
</form>