<!-- <div class="my-8 py-4 -mx-4 md:-mx-8 px-4 md:px-8 bg-flutter-lighter-blue text-flutter-dark-gray border-dashed border-8 border-flutter-dark-blue">
    <strong class="py-4">
      The best from the Flutter-verse in 3 minutes or less? Join Snacks!
    </strong>
    <div class="cta w-full text-center">
      {{ partial "cta" (dict "submitText" "I want Snacks!" "okText" "Success! You're subscribed!") }}
    </div>
    <span class="text-sm"><strong>Delivered twice monthly</strong>. No link walls. No spam. EVER.</span>
</div> -->